default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false
    suites:
        exam:
            paths:
                features: %paths.base%/tests/features/exam
            contexts:
                - behatch:rest
                - behatch:json
                - Ja\DefaultProject\Bundle\MainBundle\Tests\Behat\RestContext:
                    resultPool: @@behatch.http_call.result_pool
                - Behat\MinkExtension\Context\MinkContext
            filters:
                tags: "@exam"
    extensions:
        Sanpi\Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
            base_url: "https://def-prj.dev/"
            show_auto:    false
            files_path: '%paths.base%/tests/fixtures'
        Behat\Symfony2Extension:
            kernel:
                class: Ja\DefaultProject\Application\AppKernel
                debug: false
                bootstrap: %paths.base%/var/bootstrap.php.cache