<footer>
    <div class="footer-nav">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <ul class="nav nav-horizontal nav-grey">
                    <li>
                        <a target="_blank"
                           href="https://github.com/arnoldjan">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
