<footer class="footer">
    <div class="container">
        <div class="col-md-12">
            <p class="text-muted text-center">
                <a class="footerEntry" target="_blank"
                   href="mailto:arnoldjan@yahoo.de"> {{ 'footer.mail' | trans }}</a> |
                <a class="footerEntry" target="_blank"
                   href="https://github.com/arnoldjan"> {{ 'footer.github' | trans }}</a>
            </p>
        </div>
    </div>
</footer>





