<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="UTF-8"/>
    <title>Exam Jan</title>
    <link rel="stylesheet" href="/css/style.min.css"/>
</head>
<body>
<div class="container">
    {% include '/ja/default-project/exam/views/header.html.twig' %}
    {% block sections %}
    {% endblock %}
    {% include '/ja/default-project/exam/views/footer.html.twig' %}
</div>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>