{% extends "/ja/default-project/exam/views/layout.html.twig" %}
{% block sections %}
    <main>
        <div class="row">
            <div class="col-sm-12 col-md-9">
                Startpage Exam
        </div>
    </main>
{% endblock %}